<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mrv.Regatta.Waage.Db.Properties.Settings.RudernConnectionString"
            connectionString="Data Source=rechner1\sqlexpress2017;Initial Catalog=Rudern;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>