<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mrv.Regatta.Waage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <userSettings>
    <Mrv.Regatta.Waage.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=rechner1\sqlexpress2017;Initial Catalog=Rudern;Persist Security Info=True;User ID=sa;Password=123</value>
      </setting>
      <setting name="_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Today" serializeAs="String">
        <value>2019-01-01</value>
      </setting>
      <setting name="WeighingsPath" serializeAs="String">
        <value>c:\regatta\Messungen</value>
      </setting>
      <setting name="WeighingsLogFile" serializeAs="String">
        <value>c:\regatta\Log\messungen.txt</value>
      </setting>
      <setting name="ErrorLogFile" serializeAs="String">
        <value>c:\regatta\Log\error.txt</value>
      </setting>
      <setting name="BackupPath" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EventId" serializeAs="String">
        <value>1</value>
      </setting>
    </Mrv.Regatta.Waage.Properties.Settings>
  </userSettings>
</configuration>
